.card-wrapper {
  width: 75%;
  border: 5px solid black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 auto;
  background-color: rgb(0, 0, 0, 0.4);
}

.char-card {
  border: 3px solid black;
  height: 200px;
  width: 49%;
}

h1 {
  text-decoration: underline;
  color: cyan;
}

h3 {
  color: skyblue;
}